{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1>todo</h1>
                </div>
            </div>
        </div>
    </div>


<div class="row">
    <div class="col-md-6">
        <h4>Add task</h4>
        <form method="post" class="p-3 shadow">
    {% csrf_token %}
     <div class="form-group mb-2">
        <input type="text" name="name" placeholder="Name of Task">
      </div>
     <div class="form-group mb-2">
    <input type="text" name="priority" placeholder="Your priority">
      </div>
            <div class="form-group mb-2">
    <input type="date" name="date" placeholder="date">
      </div>
    <input type="submit" class="btn btn-success">
    </form>
    </div>
    <div class="col-md-6">

        <h4>Task Completed</h4>
    {% for i in obj1 %}

        <div class="shadow card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
      <p> {{i.priority}}</p>
       <p> {{i.date}}</p>
    <a href="{% url 'delete' i.id %}" class="btn btn-danger">Delete</a>
      <a href="{% url 'update' i.id %}" class="btn btn-success">Update</a>
  </div>
</div>
        {% endfor %}
</div>

    </div>
</div>


</div>

{% endblock %}